form {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.input-group{
    position: relative;
}

.input{
    height: 50px;
    width: 400px;
    padding: 10px;
    background: transparent;
    border-radius: 5px;
    outline: none;
    color: #292929;
    border: none;
    border-bottom: 2px solid #5b4e9b;
}

.placeholder {
    position: absolute;
    top: 15px;
    left: 8px;
    font-size: 14px;
    padding: 0 5px;
    color: #5b4e9b;
    transition: 0.3s;
    pointer-events: none;
}

.input:focus + .placeholder,
.input:not(:placeholder-shown) + .placeholder {
    top: -10px;
}