footer {
    width: 100%;
    height: 200px;
    background: #5b4e9b;
    color: #fefefe;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

footer p {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

footer p a {
    color: #fdc918;
    text-decoration: none;
}
